<h2>New Project</h2>

<div class="ui middle aligned center aligned grid">
  <div class="column form-column left aligned">
    <form class="ui form">
      <div class="field">
        <label>Name</label>
        <input name="name" type="text" [(ngModel)]="name" placeholder="Name">
      </div>

      <div class="field">
        <label>Repository URL</label>
        <input name="repositoryUrl" type="text" [(ngModel)]="repositoryUrl" placeholder="Repository URL">
      </div>

      <button class="ui fluid primary submit button" type="submit" (click)="create()">Create Project</button>
    </form>
  </div>
</div>