<h2>Active Builds</h2>

<div class="ui relaxed divided list" *ngIf="activeBuilds.length > 0">
  <div *ngFor="let build of activeBuilds" class="item">
    <div class="content">
      <p class="header">
        Build <a routerLink="/builds/{{build.buildId}}">{{build.buildId.substring(0, 8)}}</a>
        of <a routerLink="/projects/{{build.project.projectId}}">{{build.project.name}}</a>
      </p>

      <div class="description">Started {{build.startedAt | amCalendar | lowercase}}</div>
    </div>
  </div>
</div>

<div class="ui center aligned segment" *ngIf="activeBuilds.length == 0">
  No builds are currently active.
</div>

<h2>Queued Builds</h2>

<div class="ui relaxed divided list" *ngIf="queuedBuilds.length > 0">
  <div *ngFor="let build of queuedBuilds" class="item">
    <div class="content">
      <p class="header">
        Build <a routerLink="/builds/{{build.buildId}}">{{build.buildId.substring(0, 8)}}</a>
        of <a routerLink="/projects/{{build.project.projectId}}">{{build.project.name}}</a>
      </p>

      <div class="description">Queued {{build.queuedAt | amCalendar | lowercase}}</div>
    </div>
  </div>
</div>

<div class="ui center aligned segment" *ngIf="queuedBuilds.length == 0">
  No builds are currently queued.
</div>
