<h2>Active Builds</h2>

<div class="ui unstackable divided items" *ngIf="queue">
  <div *ngFor="let build of queue.activeBuilds" class="item">
    <div class="status-icon"></div>

    <div class="content">
      <a class="header" routerLink="/builds/{{build.buildId}}">{{build.project.name}}</a>

      <div class="extra">
        <div class="ui grid">
          <div class="two column row">
            <div class="column">
              <p>Queued {{build.createdAt | amCalendar | lowercase}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<h2>Queued Builds</h2>

<div class="ui unstackable divided items" *ngIf="queue">
  <div *ngFor="let build of queue.queuedBuilds" class="item">
    <div class="status-icon"></div>

    <div class="content">
      <a class="header" routerLink="/builds/{{build.buildId}}">{{build.project.name}}</a>

      <div class="extra">
        <div class="ui grid">
          <div class="two column row">
            <div class="column">
              <p>Queued {{build.createdAt | amCalendar | lowercase}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
