<div class="page-header">
  <div class="ui two column stackable center aligned grid">
    <div class="twelve wide left aligned column">
      <h2>Build Activity</h2>
    </div>

    <div class="four wide right aligned column">
      <div class="ui icon basic buttons">
        <button appPopup class="ui button" data-content="Create a Build" routerLink="/builds/new"><i class="add icon"></i></button>
      </div>
    </div>
  </div>
</div>

<div class="ui top attached tabular menu">
  <a appTab class="item active" data-tab="active-tab">Active</a>
  <a appTab class="item" data-tab="queued-tab">Queued</a>
</div>

<div class="ui bottom attached tab segment active" data-tab="active-tab">
  <app-build-list [loader]='activeLoader.bind(this)'></app-build-list>
</div>

<div class="ui bottom attached tab segment" data-tab="queued-tab">
  <app-build-list [loader]='queuedLoader.bind(this)'></app-build-list>
</div>
