<div *ngIf="project" class="page-header">
  <div class="ui two column stackable aligned grid">
    <div class="twelve wide left aligned column">
      <h2>Project {{project.name}}</h2>
    </div>

    <div class="four wide right aligned column">
      <div class="ui icon basic buttons">
        <button appPopup class="ui button" data-content="Queue Build" (click)="queue()"><i class="cogs icon"></i></button>
        <button appPopup class="ui button" data-content="Edit Project" routerLink="/projects/{{project.projectId}}/edit"><i class="pencil icon"></i></button>
        <button appPopup class="ui button" data-content="Delete Project" (click)="delete()"><i class="red trash alternate icon"></i></button>
      </div>
    </div>
  </div>

  <div class="ui segment">
    <p>{{project.repositoryUrl}}</p>
  </div>

  <div class="ui segment">
    <app-build-list [loader]='loader.bind(this)'></app-build-list>
  </div>
</div>

<div appModal class="ui modal">
  <div class="ui icon header">
    <i class="exclamation triangle icon"></i> Delete project?
  </div>

  <div class="content">
    <p>This will delete all associated builds, history, artifacts, and logs.</p>
  </div>

  <div class="actions">
    <div class="ui basic cancel button"><i class="check icon"></i> No</div>
    <div class="ui red ok button"><i class="delete icon"></i> Delete</div>
  </div>
</div>