<div *ngIf="project">
  <div class="ui two column stackable aligned grid">
    <div class="twelve wide left aligned column">
      <h2>Project {{project.name}}</h2>
    </div>

    <div class="four wide right aligned column">
      <div class="ui icon basic buttons">
        <button appPopup class="ui button" data-content="Queue Build" (click)="queue()"><i class="cogs icon"></i></button>
        <button appPopup class="ui button" data-content="Edit Project" routerLink="/projects/{{project.projectId}}/edit"><i class="pencil icon"></i></button>
        <button appPopup class="ui button" data-content="Delete Project" (click)="delete()"><i class="red trash alternate icon"></i></button>
      </div>
    </div>
  </div>

  <div appModal class="ui modal">
    <div class="ui icon header">
      <i class="exclamation triangle icon"></i> Delete project?
    </div>
    <div class="content">
      <p>This will delete all associated builds, history, artifacts, and logs.</p>
    </div>
    <div class="actions">
      <div class="ui basic cancel button"><i class="check icon"></i> No</div>
      <div class="ui red ok button"><i class="delete icon"></i> Delete</div>
    </div>
  </div>

  <div class="ui top attached tabular menu">
    <a appTab class="item active" data-tab="meta-tab">Meta</a>
    <a appTab class="item" data-tab="builds-tab">Builds</a>
  </div>

  <div class="ui bottom attached tab segment" data-tab="meta-tab">
      <p>{{project.repositoryUrl}}</p>
    </div>

  <div class="ui bottom attached tab segment" data-tab="builds-tab">
    <div class="ui unstackable divided items">
      <div *ngFor="let build of builds" class="item">
        <div class="status-icon" [ngClass]="{
          'positive': build.isSucceeded(),
          'negative': build.isFailed() || build.isErrored()
        }"></div>

        <div class="content">
          <i class="icon check positive" *ngIf="build.isSucceeded()"></i>
          <i class="icon bug negative" *ngIf="build.isFailed() || build.isErrored()"></i>
          <a class="header" routerLink="/builds/{{build.buildId}}">{{project.name}}</a>

          <div class="description">
            <p *ngIf="build.commitMessage">{{build.commitMessage}}</p>
          </div>

          <div class="extra">
            <div class="ui grid">
              <div class="two column row">
                <div class="column">
                  <p>Queued {{build.createdAt | amCalendar | lowercase}}</p>
                  <p *ngIf="!build.isQueued()">Last updated {{build.lastUpdatedAt() | amCalendar | lowercase}}</p>
                </div>

                <div class="column">
                  <p *ngIf="build.commitHash"><i class="icon code"></i> {{build.commitHash.substring(0, 8)}} on {{build.commitBranch}}</p>
                  <p *ngIf="build.commitMessage"><i class="icon user"></i> Authored by {{build.commitAuthorName}} <{{build.commitAuthorEmail}}></p>
                  <p *ngIf="build.commitMessage"><i class="icon user"></i> Committed by {{build.commitCommitterName}} <{{build.commitCommitterEmail}}></p>
                  <p *ngIf="build.commitMessage"><i class="icon clock"></i> Authored {{build.committedAt | amCalendar | lowercase}}</p>
                  <p *ngIf="build.commitMessage"><i class="icon clock"></i> Committed {{build.committedAt | amCalendar | lowercase}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
