<div *ngIf="project">
  <h2>Edit {{project.name}}</h2>

  <div class="ui middle aligned center aligned grid">
    <div class="column form-column left aligned">
      <form class="ui form">
        <div class="field">
          <label>Name</label>
          <input name="name" type="text" [(ngModel)]="project.name" placeholder="Name">
        </div>

        <div class="field">
          <label>Repository URL</label>
          <input name="repositoryUrl" type="text" [(ngModel)]="project.repositoryUrl" placeholder="Repository URL">
        </div>

        <button class="ui fluid primary submit button" type="submit" (click)="update()">Update Project</button>
      </form>
    </div>
  </div>
</div>
