<div class="site">
  <main class="site-content">
    <div class="ui borderless main menu">
      <div class="ui text container">
        <div class="header item">
          IJ CI
        </div>

        <a href="#" class="item" routerLink="/projects">Projects</a>
        <a href="#" class="item" routerLink="/builds">Builds</a>
        <a href="#" class="item" routerLink="/queue">Queue</a>
      </div>
    </div>

    <div class="ui container">
      <app-messages></app-messages>
      <router-outlet></router-outlet>
    </div>
  </main>

  <footer>
    <div class="ui inverted vertical footer segment">
      <div class="ui center aligned container">
        <img class="ui centered mini image" src="/assets/images/ij.png">
      </div>
    </div>
  </footer>
</div>
