<div class="page-header">
  <div class="ui two column stackable center aligned grid">
    <div class="twelve wide left aligned column">
      <h2>Projects</h2>
    </div>

    <div class="four wide right aligned column">
      <div class="ui icon basic buttons">
        <button appPopup class="ui button" data-content="Create a Project" routerLink="/projects/new"><i class="add icon"></i></button>
      </div>
    </div>
  </div>
</div>

<div class="ui segment">
  <div class="ui secondary pointing menu">
    <div class="right menu">
      <div class="ui right aligned category search item">
        <div class="ui transparent icon input">
          <input #search type="text" (keyup)="keyUp.next($event)" [(ngModel)]="filterQuery" placeholder="Enter filter term...">
          <i class="search link icon"></i>
        </div>
        <div class="results"></div>
      </div>
    </div>
  </div>

  <table class="ui bottom attached small celled striped table" *ngIf="results">
    <thead>
      <tr>
        <th>Status</th>
        <th>Name</th>
        <th>Repo</th>
        <th class="collapsing">Last Build</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="results.items.length == 0">
        <td colspan="4" class="center aligned">
          No projects.
        </td>
      </tr>
      <tr *ngFor="let project of results.items">
        <!-- TODO: can factor this out?-->
        <td *ngIf="project.isSucceeded()" class="collapsing positive center aligned"><i class="icon checkmark"></i></td>
        <td *ngIf="project.isFailed() || project.isErrored()" class="collapsing negative center aligned"><i class="icon exclamation circle"></i></td>
        <td *ngIf="project.isCanceled()" class="collapsing grey center aligned"><i class="icon minus circle"></i></td>
        <td *ngIf="!project.lastBuildId" class="collapsing"></td>

        <td class="collapsing">
          <a class="header" routerLink="/projects/{{project.projectId}}">{{project.name}}</a>
        </td>

        <td>{{project.repositoryUrl}}</td>

        <td class="collapsing">
          <span *ngIf="project.lastBuildId">
            <a routerLink="/builds/{{project.lastBuildId}}">Last build</a> completed at {{project.lastBuildCompletedAt | amCalendar | lowercase}}
          </span>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="results.numPages > 1">
      <tr>
        <th colspan="4">
          <app-pagination [page]='results.page' [numPages]='results.numPages' [loader]='load.bind(this)'></app-pagination>
        </th>
      </tr>
    </tfoot>
  </table>
</div>
