<div class="ui two column stackable center aligned grid">
  <div class="twelve wide left aligned column">
    <h2>Projects</h2>
  </div>

  <div class="four wide right aligned column">
    <div class="ui icon basic buttons">
      <button appPopup class="ui button" data-content="Create a Project" routerLink="/projects/new"><i class="add icon"></i></button>
    </div>
  </div>
</div>

<div class="ui left icon input">
  <i class="search icon"></i>
  <input #search type="text" (keyup)="keyUp.next($event)" [(ngModel)]="filterQuery" placeholder="Enter filter term...">
</div>

<div class="ui unstackable divided items" *ngIf="results">
  <div *ngFor="let project of results.items" class="item">
    <div class="status-icon" [ngClass]="{
      'positive': project.isSucceeded(),
      'negative': !project.isSucceeded() && project.lastBuildId
    }"></div>

    <div class="content">
      <i class="icon check positive" *ngIf="project.isSucceeded()"></i>
      <i class="icon bug negative" *ngIf="!project.isSucceeded() && project.lastBuildId"></i>
      <a class="header" routerLink="/projects/{{project.projectId}}">{{project.name}}</a>

      <div class="description">
        <p>{{project.repositoryUrl}}</p>
      </div>

      <div class="extra" *ngIf="project.lastBuildId">
        <p><a routerLink="/builds/{{project.lastBuildId}}">Last build</a> completed at {{project.lastBuildCompletedAt | amCalendar | lowercase}}</p>
      </div>
    </div>
  </div>
</div>

<div class="ui pagination pointing secondary menu" *ngIf="results && results.numPages > 1">
  <a *ngFor="let i of seq(results.numPages)" [ngClass]="{'item': true, 'active': results.page == i}" (click)="loadPage(i)">{{i}}</a>
</div>
