<h2>New Build</h2>

<form class="ui form">
  <div class="field" [ngClass]="{'disabled': repositoryUrl}">
    <label>Project</label>
    <div appDropdown [onChange]="onProjectSelected.bind(this)" class="ui selection dropdown" [ngClass]="{'loading': !loaded}">
      <i class="dropdown icon"></i>
      <div class="default text">Select a Project</div>
      <div class="menu">
        <div class="item" *ngFor="let project of projects" attr.data-value="{{project.projectId}}">{{project.name}}</div>
      </div>
    </div>
  </div>

  <div class="field" [ngClass]="{'disabled': projectId}">
    <label>Repository URL</label>
    <input name="repository-url" type="text" [(ngModel)]="repositoryUrl" placeholder="github.com/efritz/ij">
  </div>

  <div class="field" [ngClass]="{'disabled': commitHash}">
    <label>Commit Branch</label>
    <input name="commit-branch" type="text" [(ngModel)]="commitBranch" placeholder="master">
  </div>

  <div class="field" [ngClass]="{'disabled': commitBranch}">
    <label>Commit Hash</label>
    <input name="commit-hash" type="text" [(ngModel)]="commitHash" placeholder="f0eb752bf06a7ac7ac3a8e5071142b218cf05c89">
  </div>

  <button class="ui primary button" type="submit" (click)="queueBuild()">Queue Build</button>
</form>
