.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

.ui.footer.segment {
  padding: 1em;
  margin-top: 1em;
}

.main.menu {
  margin-top: 1em;
  border-radius: 0;
  border: none;
  box-shadow: none;
  transition: box-shadow 0.5s ease, padding 0.5s ease;
}

.main.menu.fixed {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width:767px) {
  .ui.grid > [class*="left aligned"].column.column,
  .ui.grid > [class*="right aligned"].column.column {
    text-align: center;
  }
}
